@use  './partials/_variables.scss' as *;
@use  './partials/_mixin.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import url('https://fonts.cdnfonts.com/css/dc-fandom');
@import url('https://fonts.cdnfonts.com/css/open-sans-condensed-2');

@import "~bootstrap/scss/bootstrap.scss";

// h1{
//     color: $text-color;
// }
// main{
//     background-image: url('../img/backpage.jpg');
// }
// header {
//     .navbar-nav .nav-link.active {
//         font-weight: bold;
//         color: $text-color;
//     }
// }
// footer{
//     background-image: url('../img/footer-montagne-bottom.jpg');
// }
// #products {
//     .card-img-top {
//         aspect-ratio: 1 / 1.2;
//     }
// }

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed';
    //'DC Fandom'
}

header{
    .db-container{
        @include db-container;
        height: 100px;
    }

    .db-d-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .db-logo{
        width: 100px;
        img{
            width: 100%;
            padding: 5px;
        }
    }

    ul{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;

        li{
            height: 100px;
            margin: 0px 10px;
            text-transform: uppercase;
            &:hover a{
                    color: $accenture;
            }
            &:hover{
                border-bottom: 4px solid $accenture;
            }

            a{
                text-decoration: none;
                color: $darkest;
                font-weight: 900;
                font-size: 12px;
                line-height: 100px;
            }
        }
    }

    .db-input{
        color: $darkest;
        input{
            outline: 0;
            border-width: 0 0 2px;
            border-color: $accenture;
            text-align: end;
        }
        ::placeholder{
            font-weight: bold;
            color: $darkest;
            font-size: 0.9rem;
        }
      }
    //   input:focus {
    //     border-color: green;
    //     outline: 1px dotted #000
    //   }
}

.db-jumbo{
    height: 300px;
    overflow: hidden;
    img{
        width: 100%;
        background-repeat: no-repeat;
    }
}

.db-footer-one{
    background-image: url(../img/footer-bg.jpg);

    .db-container{
        @include db-container;
        padding: 30px 0 40px 0;
        background-image: url(../img/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 50%;
    }

    .db-footer-links{
        display: flex;
        gap: 30px;
    }

    ul{
        margin: 10px 0 15px 0;
        padding: 0;
        list-style: none;
    }

    h5{
        color: $light;
        text-transform: uppercase;
        font-weight: 900;
    }

    li{
        a{
            font-size: 12px;
            text-decoration: none;
            color: $secondary;
        }
    }
}

.db-footer-two{
    background-color: $darkless;
    font-size: 12px;

    .db-container{
        @include db-container;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
    }

    .db-cta{
        text-transform: uppercase;
        font-weight: bold;
        border: 3px solid $accenture;
        padding: 10px;
        text-decoration: none;
        color: $light;
    }

    .db-footer-icons{
        display: flex;
        align-items: center;
        gap: 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: $accenture;
        a{
            display: flex;
            align-items: center;
        }
        img{
            width: 100%;
        }
    }
}

main{
    background-color: $darkest;

    .db-container{
        @include db-container;
        div{
            color: $light;
        }
        span.db-btn{
            display: inline-block;
            transform: translate(0,-50%);
        }
    }

    .db-btn{
        text-transform: uppercase;
        font-weight: bold;
        background-color: $accenture;
        color: $light;
        &.db-btn-1{
            padding: 10px 20px;
        }
        &.db-btn-2{
            padding: 5px 50px;
        }
    }

    .card{
        .db-card-title{
            margin-top: 5px;
            font-size: 12px;
            font-weight: bold;
        }
        .db-card-img-container{
            height: 250px;
        }
        --bs-card-bg: #00000000;
    }
    
    .db-card-img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
}